:root {
    /* text-color */
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --icon-color: #AFB1B8;
    --accent-icon-color: #FFFFFF;

    /* button-color */
    --accent-button-color: #188CE8;

    /* logo-color */
    --logo-primary-color: #2196F3;
    --logo-header-color: #000000;
    --logo-footer-color: #FFFFFF;

    /* bg-color */
    --skills-bg-color: #F5F4FA;
    
    /* font-weight */
    --primary-fontWeight: 700;
    --second-fontWeight: 500;

    /* text-size */
    --title-text-size: 36px;

    
}