.section__background {
    background-color: #F5F4FA;
}

.team {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }

}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
}

.team-info {
    padding: 30px 0;
}

.team-info__title {
    text-align: center;
    margin-bottom: 10px;

    font-weight: var(--second-fontWeight);
    font-size: 16px;
    line-height: 1.2;

    letter-spacing: 0.03em;
}

.team-info__text {
    margin-bottom: 16px;

    text-align: center;

    font-size: 16px;
    line-height: 1.2;

    letter-spacing: 0.03em;

    color: var(--second-text-color);
}
