.filter {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
}

.filter__btn {
  padding: 6px 22px;

  @extend %filter-btn-font;

  text-align: center;

  color: var(--primary-text-color);
  background-color: #f5f4fa;

  cursor: pointer;

  border: 0;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  position: relative;

  background-color: #ffffff;
  border: 1px solid #eeeeee;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus .portfolio__overlay,
  &:hover .portfolio__overlay {
    transform: translateY(0);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.portfolio__overlay-text {
  position: absolute;
  padding: 77px 24px;

  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

.portfolio__box {
  padding: 20px 24px;
}

.portfolio__title {
  margin-bottom: 4px;

  font-weight: var(--primary-fontWeight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
